__pycache__/
*.py[cod]
*.so

.DS_Store
.idea/
.vscode/

*.ckpt
*.pt
*.pth
*.bin
*.safetensors
checkpoints/
outputs/
outdir*/
wandb/
results.txt

HiViS-*/
EAGLE-2-*/

eval_data/generated/
eval_data/sharegpt/*.json
eval_data/sharegpt/*.jsonl
eval_data/sharegpt/*/
eval_data/llava_v1_5_mix665k/*.json
eval_data/llava_v1_5_mix665k/*.jsonl
eval_data/llava_v1_5_mix665k/*/
eval_data/llava_v1_5_mix665k/images

hivis/evaluation/data/MME_Benchmark_release_version/
hivis/evaluation/data/mm-vet/
hivis/evaluation/data/SEED-Bench-image/
